<div class="row">
  <div class="col-sm-6 col-xs-12 foto-wrapper">
      <img src="../images/foto.jpg" height="260" width="218">
  </div>
  <div class="col-sm-6 col-xs-12">
    <ul class="list-about-me">
      <li class="no-dot">
        <div class="col-xs-12 border-teal">
          <div class="col-xs-6 half-border-right-teal">
            <h5 class="text-center">Meno</h5>
          </div>
          <div class="col-xs-6 half-border-left-teal">
            <h5 class="text-center">
              {{site.data.aboutMe.name.first}} {{site.data.aboutMe.name.last}}
            </h5>
          </div>
        </div>
      </li>
      <li class="no-dot ">
        <div class="col-xs-12 border-teal">
          <div class="col-xs-6 half-border-right-teal">
            <h5 class="text-center">Dátum narodenia</h5>
          </div>
          <div class="col-xs-6 half-border-left-teal">
            <h5 class="text-center">
              {{site.data.aboutMe.birth.day}}.{{site.data.aboutMe.birth.month}}.{{site.data.aboutMe.birth.year}}
            </h5>
          </div>
        </div>
      </li>
      <li class="no-dot">
        <div class="col-xs-12 border-teal">
          <div class="col-xs-6 half-border-right-teal">
            <h5 class="text-center">Miesto narodenia</h5>
          </div>
          <div class="col-xs-6 half-border-left-teal">
            <h5 class="text-center">
              {{site.data.aboutMe.birthplace}}
            </h5>
          </div>
        </div>
      </li>
      <li class="no-dot ">
        <div class="col-xs-12 border-teal">
          <div class="col-xs-6 half-border-right-teal">
            <h5 class="text-center">Adresa trvalého bydliska</h5>
          </div>
          <div class="col-xs-6 half-border-left-teal">
            <h5 class="text-center">{{site.data.aboutMe.address.street}},{{site.data.aboutMe.address.postalCode}}, {{site.data.aboutMe.address.city}}</h5>
          </div>
        </div>
      </li>
      <li class="no-dot">
        <div class="col-xs-12 border-teal">
          <div class="col-xs-6 half-border-right-teal">
            <h5 class="text-center">Rodinný stav</h5>
          </div>
          <div class="col-xs-6 half-border-left-teal">
            <h5 class="text-center">
              {{site.data.aboutMe.status}}
            </h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>