.foto-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
  img{
    border: 1px solid whitesmoke;
  }
}
.no-dot{
  list-style: none;
}
.list-about-me{
  padding: 0;
}
.border-teal{
  border: 1px solid $color-teal;
}
.half-border-left-teal{
  border-left: 0.5px solid $color-teal;
  min-height: 50px;
}
.half-border-right-teal{
  border-right: 0.5px solid $color-teal;
  min-height: 50px;
}


